// $bootstrap-icons-font-src:
//     url('bootstrap-icons/font/fonts/bootstrap-icons.woff2') format('woff2'),
//     url('../../node_modules/bootstrap-icons/font/fonts/bootstrap-icons.woff') format('woff');

$blue: #0054ff;
$font-family-sans-serif: 'Open Sans', sans-serif;
$headings-font-family: 'Lato', serif;
$font-weight-bold: 900;

$h1-font-size: 2em;
$h2-font-size: 1em;
$h3-font-size: 0.8em;

$border-radius: 0;
$border-radius-sm: 0;
$border-radius-lg: 0;
$border-radius-xl: 0;
$border-radius-xxl: 0;
$border-radius-pill: 0;

$input-btn-padding-y: 1rem;
$input-btn-padding-x: 1.75rem;
$btn-font-weight: 600;

$blockquote-footer-color: #f7f7f7;
